<?xml version="1.0" standalone="yes"?>
<group id="zhihu" name="知乎爬虫" class="CommonSpider">
      <item name="param" method="post" need="false">
           <filed name="email">fly8421@outlook.com</filed>
           <filed name="passwd">33614793fly</filed>
      </item>
      <item name="cookies" need="true">
           <filed name="d_c0">"AIDAs733tgmPTkfBCjcM5JXKTFuoPtUSdww=|1459677579"</filed>
           <field name="_zap">35ad1b4d-d70a-4ac3-8993-cc21513ce9f2</field>
           <filed name="_ga">GA1.2.835515260.1461669225</filed>
           <filed name="q_c1">262153d0d5014781a35b754f24213d97|1466953814000|1466953814000</filed>
           <filed name="l_cap_id">"ODA1YjlkM2EyNDg4NGEzOGEzOTU0ZmU2ODM5NzVlYmM=|1470545920|ffc6840f7b6f4b5cbdb22c071c49a5d49c18fba0"</filed>
           <field name="cap_id">"NzY1ZGY1Mjk3OTAyNDBiZDllMzMwMmQ0ODM3NzcyMGQ=|1470545920|16704f7f0a5e7009d5b9c79114eac1f0e13d7fb7"</field>
           <filed name="login">"ZTEyNTFmODBhNDkwNDBmZmI4ZWM2ZDUzYTg3ODY1YzQ=|1470545977|fa6e7bb1bc89bb11acf91b6e8e7ca263d5a76538"</filed>
           <filed name="_utmt">1</filed>
           <field name="z_c0">Mi4wQUFCQVVXd2NBQUFBZ01DenZmZTJDUmNBQUFCaEFsVk5PVTNPVndEX25zSEJUVExDRzloclNCb2duX25fLTU0UVB3|1470545977|05245398f30692ad87dea2581c88f51fccb985b2</field>
           <field name="_xsrf">ffaa3b0acb58fcf4d9ef2b505ba4fea5</field>
      </item>
    <item name="headers" need="true">
           <field name='Connection'>'keep-alive'</field>
           <field name='Accept'>'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8'</field>
           <field name='Accept-Encoding'>'gzip, deflate, sdch, br'</field>
           <field name='Accept-Language'>'zh-CN,zh;q=0.8'</field>
           <field name='User-Agent'>'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36'</field>
           <field name='Host'>'www.zhihu.com'</field>,
           <field name='Upgrade-Insecure-Requests'>1</field>
    </item>
    <item name="filter" need="true">
        <filed name="urlhttp"  action="and">'http://www.zhihu.com/.*'</filed>
        <filed name="urlhttps" action="or">'https://wwww.zhihu.com/.*'</filed>
    </item>
    <item name="logic" need="true"></item>

</group>